# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/main/Unity.gitignore
#
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

# MemoryCaptures can get excessive in size.
# They also could contain extremely sensitive data
/[Mm]emoryCaptures/

# Recordings can get excessive in size
/[Rr]ecordings/

# Uncomment this line if you wish to ignore the asset store tools plugin
# /[Aa]ssets/AssetStoreTools*

# ========== Unity 기본 ==========

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
MemoryCaptures/
UserSettings/

# ========== Visual Studio / JetBrains Rider 관련 ==========
.vscode/
.idea/
*.csproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb

# ========== OS 관련 ==========
.DS_Store
Thumbs.db

# ========== Crash & 디버깅 관련 ==========
*.stacktrace
*.log

# ========== Unity Collaborate ==========
.collab/

# ========== 빌드 산출물 (apk, exe 등) ==========
*.apk
*.aab
*.exe
*.app
*.ipa

# ========== Git LFS 등 버전용량 부담 요소 ==========
*.unitypackage
*.mp4
*.mov
*.zip
*.rar
*.7z
*.tar
*.gz
*.iso
*.psd
*.tiff
*.tga
*.FBX
*.png
*.wav
*.pdf
# ========== 기타 프로젝트 불필요 요소 ==========
/Assets/AssetStoreTools*
